.pagination{
    margin-block: 1rem;
}

.pagination button{
    margin-right: 0.5rem;
    cursor: pointer;
    padding: 7px;
}

.pagination button:disabled{
    background-color: #333;
    color: #fff;
    cursor: not-allowed;
}

